# Virtual Environment
venv/

# Python cache files
__pycache__/
*.pyc

# Django database file
db.sqlite3

# Static files collected by collectstatic
/static/

# Media files
/media/

# Environment variables - good practice for the future
.env

# IDE files
.idea/
.vscode/
